h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: dodgerblue;
}

#time{
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: dodgerblue;
}

.button-container {
  display: flex;
  flex-direction: row;
  max-width: 320px;
  margin: 30px auto;
  gap: 10px;
  justify-content: center;

}

button{
    text-align: center;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    background-color: dodgerblue;
    color: white;
    font-weight: 600;
}
